body {
    background-color: #ee9c81;
}

#header-bg {
    background-image: url(/assets/images/bar.webp);
    height: 250px;
    width: 100%;
}

.header {
	color: white;
	font-size: 36px;
	text-align: center;
    text-shadow: 2px 2px black;
    position: relative;
}

#starter {
    margin-top: 28px;
}

.input-field label {
    color: lightgray;
}

h6 {
    text-align: center;
    color: whitesmoke;
    font-size: larger;
    padding-top: 5%;
    text-decoration-line: underline;
}

#results-header {
    text-align: center;
    color: whitesmoke;
}

.footer-copyright {
    text-align: center;
}

.footer-text {
    text-align: center;
    ;
}

h5 {
    text-align:flex;
}

#results-page {

    /* display: none;  */
 }

#spot {
    padding-right: 12px;
}

#result {
    margin-top: 25px;

}

#footerText{
    text-align: center
}

h4 {
    text-align: center;
}

#ingredients-card {
    min-height: none;
}

ul {
    color: whitesmoke;
}