#sidebar {
    margin-left: 0%;
    margin-top: 25%;
}
#starter {
    margin-top: 28px;
}
#page-footer {
    justify-content: center;
    color: blue;
  }
.input-field label {
    color: lightgray;
  }
